.door-pass {
    width: 200px;
    height: 250px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}
.screen {
    border: 1px solid #c3c3c3;
    flex-grow: 1;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.access-granted {
    background: #45ff5c;
}

.access-denied {
    background: red;
}
.screen p{
    margin: 0;

}
.buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -3px;
}
.btn-wrapper {
    width: 33.3333%;
    padding: 3px;
}
.btn-wrapper button {
    width: 100%;
    height: 30px;
    font-weight: bold;
}